tr .user-id{
    width: 80px;
}

tr .post-price{
    width: 130px;
}

tr .update-time, tr .post-time{
    width: 150px;
}

tr .user-id{
    text-align: center;
}

td.post-title{
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.delete{
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}

.sort-icon{
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
}

.content-container{
    margin-left: -25px;
}

