.chat-body{
    background-color: #E8E8E8;
}

.chat-container{
    width: 1440px;
    max-height: 945px;
    margin: 0 auto;
    background-color: white;
    display: flex;
}

.chat-container .left{
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px 0px 20px 20px;
}

.search-chat-room{
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    background-color: #d4d4d4;
    gap: 10px;
    font-size: 25px;
    width: 340px;
    margin-bottom: 24px;
}

.search-chat-room input{
    outline: none;
    border: none;
    font-size: 20px;
    width: 100%;
    background-color: inherit;
}

.chat-container .left .line{
    width: 422px;
    height: 1px;
    margin-left: -21px;
}

.chat-room-container{
    padding: 20px 10px 20px 0px;
    overflow-y: auto;
    height: 715px;
}

.delete-conversation{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-size: 25px;
    gap: 10px;
    cursor: pointer;
    margin-top: 35px;
}

.chat-room-bounding{
    margin-bottom: 10px;
    height: 90px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    transition: background-color 0.1s ease, border-color 0.1s ease;
}

.check-icon{
    font-size: 30px;
}

.check-icon.disable{
    display: none;
}

.file-container{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    width: 200px;
    border-radius: 15px;
    height: 77%;
    background-color: #ececec;
}

.file-container.video{
    background-color: inherit;
}

.file-name{
    font-size: 18px;
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-word;
    max-width: 150px;
}

.chat-room-bounding:hover {
    background-color: #bdbdbd;
    border-color: #bdbdbd;
}

.chat-room-bounding.is-selected{
    background-color: #8ac4ff;
    border-color: #8ac4ff;
}

.opponent-img{
    object-fit: contain;
    border-radius: 50%;
}

.img-container{
    position: relative;
}

.status-dot{
    border-radius: 50%;
    bottom: 5px;
    right: 0px;
    border: 2px solid black;
}

.chat-room-bounding .status-dot{
    position: absolute;
}

.chat-room-bounding .opponent-img{
    width: 70px;
    height: 70px;
}

.chat-room-bounding .status-dot{
    width: 15px;
    height: 15px;
}

.status-dot.online{
    background-color: green;
}

.status-dot.offline{
    background-color: grey;
}

.chat-room-bounding .chat-post-img{
    width: 70px;
    height: 70px;
    border-radius: 5px;
    margin-left: auto;
}

.opponent-name-message{
    margin-left: 15px;
}

.opponent-name{
    font-size: 25px;
    color: black;
}

.chat-room-bounding.unSeen{
    font-weight: bold;
}

.opponent-last-message{
    width: 200px;
    color: #5c5c5c;
    font-size: 17px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat-container .right{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.chat-header{
    display: flex;
    height: 70px;
    padding: 10px;
    align-items: center;
    gap: 10px;
    position: relative;
}

.chat-header .opponent{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    transition: background-color 0.2s ease;
}

.chat-header .opponent:hover{
    background-color: #e4e4e4;
}

.chat-header .opponent-img{
    width: 60px;
    height: 60px;
}

.chat-header .status-dot{
    width: 10px;
    height: 10px;
}

.chat-header .name-status{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.chat-header .name-status h3{
    margin: 0px;
    font-size: 22px;
}

.chat-header .name-status .status{
    display: flex;
    gap: 10px;
}

.chat-header .name-status .status p{
    font-size: 16px;
    font-weight: bold;
}

.chat-header .additional-icon{
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.chat-header .additional-icon:hover{
    background-color: #e4e4e4;
    border-radius: 50%;
}

.chat-post-container{
    display: flex;
    padding: 10px 10px 10px 20px;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.15s ease;
}

.chat-post-container:hover{
    background-color: #e4e4e4;
}

.chat-container .right .line{
    width: 100%;
}

.chat-post-container .chat-post-img{
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.post-title-price-area h3{
    margin: 0 0 5px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
}

.post-title-price-area p{
    font-size: 18px;
    font-weight: bold;
}

.post-title-price-area .post-price-area{
    display: flex;
    align-items: center;
    gap: 50px;
}

.message-container{
    display: flex;
    flex-direction: column;
    height: 500px;
    padding: 200px 20px 20px 20px;
    overflow-y: auto;
    gap: 3px;
}

#send-time{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #888888;
    margin-bottom: 25px;
}

.delete-message-button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    background-color: #a3a3a3;
    width: 30px;
    height: 30px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
}

.recipient-message-div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    align-self: flex-start;
    position: relative;
    transition: width 0.15s ease;
}

.recipient-message-div:hover .delete-message-button, .sender-message-div:hover .delete-message-button{
    opacity: 1;
}

.recipient-avatar-message{
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}

.sender-message-div .delete-message-button{
    left: -40px;
}

.sender-message-div{
    align-self: flex-end;
    gap: 5px;
    display: flex;
    position: relative;
}

.message-create-time{
    position: absolute;
    color: #636363;
    background-color: #e5e5e5;
    opacity: 0;
    transition: opacity 0.15s ease;
    font-size: 15px;
    border-radius: 15px;
    text-align: center;
    width: 110px;
}

.sender-message-div .message-create-time{
    left: -50px;
    top: 50%;
    transform: translate(-105%, -50%);
}

.sender-message-div:hover .message-create-time{
    opacity: 1;
}

.recipient-message-div .message-create-time{
    top: 50%;
    right: -50px;
    transform: translate(60%, -57%);
}

.recipient-message-div:hover .message-create-time{
    opacity: 1;
}

.sender-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.sender-message, .recipient-message{
    border-radius: 20px;
    font-size: 20px;
    padding: 7px 10px 7px 10px;
    max-width: 600px;
    word-break: break-word;
    white-space: pre-wrap;
}

.recipient-message{
    background-color: #6c6c6c;
    color: white;
    align-self: flex-start;
}

.sender-message-bounding{
    display: flex;
    flex-direction: column;
}

.sender-message{
    background-color: #008CFF;
    color: white;
    align-self: flex-end;
}

.send-message-bounding{
    height: auto;
    align-items: center;
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: #d2e9ff;
}

.camera-icon{
    width: 30px;
    height: 30px;
    color: #008CFF;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.15s ease;
    justify-self: flex-end;
}

.camera-icon:hover{
    background-color: #aed8ff;
}

.send-message-bounding .message-input-bounding{
    width: 810px;
    border: none;
    border-radius: 20px;
    padding: 10px;
    background-color: #D9D9D9;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.chat-small-upload-box{
    width: 60px;
    height: 60px;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    border: 2px dashed #ccc;
}

.send-icon{
    width: 40px;
    height: 40px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.15s ease;
}

.send-icon:hover{
    background-color: #aed8ff;
}

.chat-image{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.15s ease;
}

.chat-image:hover{
    opacity: 0.7;
}

.media-grid{
    display: grid;
    gap: 5px;
}

.media-grid img{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}

.media-count-1 {
    grid-template-columns: 1fr;
}

.media-count-2 {
    grid-template-columns: repeat(2, 1fr);
}

.media-count-3 {
    grid-template-columns: repeat(3, 1fr);
}

.media-count-4 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
}

.media-count-5,
.media-count-6 {
    grid-template-columns: repeat(3, 1fr);
}