.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #008CFF;
    width: 97.6vw;
    padding: 15px 15px 15px 15px;
}

.logo{
    display: flex;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    justify-content: space-between;
    align-items: center;
    padding: 5px 12px 5px 12px;
    width: 200px;
    text-decoration: none;
}

.logo img{
    width: 60px;
    height: 60px;
}

.logo p{
    color: white;
    font-size: 25px;
}

.container-header .function{
    display: flex;
    align-items: center;
    width: auto;
    gap: 52px;
}

.chat-bounding{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    cursor: pointer;
}

.chat-bounding img{
    width: 35px;
    height: 35px;
}

.header-user-container{
    width: auto;
    display: flex;
    border:solid white;
    padding: 6px 15px 6px 15px;
    position: relative;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
}

.header-user-logo{
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.header-user-name{
    color: white;
    font-size: 21px;
    font-weight: bold;
}

.header-user-angle-down{
    font-size: 22px;
}

.dropdown-container{
    gap: 10px;
    background-color: white;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: auto;
    border: solid 1px;
    border-radius: 5px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    display: none;
    z-index: 10;
}

.js-dropdown-container{
    display: flex;
}

.header-user-profile, .header-saved-posts, .header-posts-manage, .header-log-out{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: start;
    gap: 10px;
    cursor: pointer;
    transition: color 0.2s ease;
}

.header-user-profile:hover, .header-saved-posts:hover, .header-posts-manage:hover, .header-log-out:hover{
    color: #008CFF;
}

.icon{
    width: 25px;
    height: 25px;
}

.header-user-profile p, .header-saved-posts p, .header-posts-manage p, .header-log-out p{
    font-size: 20px;
    font-weight: bold;
}

.login, .register, .post{
    color: white;
    font-size: 21px;
    cursor: pointer;
}

.post{
    font-weight: bold;
    border-style: solid;
    padding: 20px 20px 20px 20px;
    border-radius: 8px;
    cursor: pointer;
}