.list-container{
    gap: 40px;
    display: flex;
    width: 1440px;
    height: 1470px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 80px;
}

.list-container-left{
    width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-container-right{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 40px;
}

.list-search-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list-search-bounding{
    display: flex;
    gap: 10px;
    align-items: center;
    width: 900px;
    height: 60px;
    background-color: #E3E3E3;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.list-search-bounding img{
    width: 40px;
    height: 40px;
}

#list-search-input{
    background-color: #E3E3E3;
    border: none;
    font-size: 20px;
    width: 574px;
    font-weight: bold;
    outline: none;
}

.list-search-city-bounding{
    cursor: pointer;
    font-size: 20px;
    background-color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    outline: none;
}

.list-search-button{
    height: 33px;
    width: 120px;
    font-size: 18px;
    font-weight: bold;
    background-color: #008CFF;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
}

.list-search-criteria{
    display: flex;
    gap: 10px;
}

.filter, .criteria{
    display: flex;
    align-items: center;
    font-size: 22px;
    gap: 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border: solid 2px #a5a5a5;
}

.criteria{
    cursor: pointer;
}

.filter img{
    width: 30px;
    height: 30px;
}


.select{
    display: flex;
    width: 150px;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    padding: 10px 5px 10px 5px;
    width: 200px;
    border-color: #008CFF;
    border-radius: 5px;
    background-color: white;
    margin-left: 821px;
    margin-top: 50px;
}

.list-posts-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
}

.list-post{
    display: flex;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #cacaca;
}

.list-post img{
    width: 300px;
    height: 270px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.list-post-information{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.list-post-information h2{
    margin: 0;
}

.list-post-price-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#list-post-price{
    font-size: 26px;
    font-weight: bold;
    color: red;
}

#list-post-area{
    font-size: 20px;
    font-weight: bold;
}

#list-post-description{
    margin-top: 5px;
    font-size: 20px;
    width: 600px;
    height: 45px;
}

.list-post-location-time-save{
    display: flex;
    margin-top: 5px;
    align-items: center;
    justify-content: space-between;
}

.list-post-location-time{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.list-post-location-container, .list-post-time-container{
    display: flex;
    align-items: center;
}

#list-post-location, #list-post-time{
    font-size: 18px;
}

.list-post-location-container img, .list-post-time-container img{
    width: 25px;
    height: 25px;
}

.list-post-save{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px;
    color: #808080;
    border-radius: 5px;
    height: 45px;
    width: 45px;
    margin-left: 28px;
    margin-top: 10px;
}

.list-post-save img{
    height: 35px;
    width: 35px;
}

.list-pagination{
    display: flex;
    gap: 10px;
    margin-top: 40px;
}

.list-pagination button{
    padding: 5px 10px 5px 10px;
    background-color: white;
    font-size: 20px;
    border: 2px solid #a3a3a3;
    border-radius: 5px;
    cursor: pointer;
}

.side-criteria{
    background-color: #F7F7F7;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.side-criteria p{
    margin-bottom: 10px;
    cursor: pointer;
    transition: color 0.2s ease;
}

.side-criteria p:hover{
    color: #008CFF;
}