.post-detail-body{
    background-color: #F9F9F9;
}

.post-detail-container{
    display: flex;
    width: 1440px;
    min-height: 1550px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
    gap: 60px;
}

.post-detail{
    display: flex;
    flex-direction: column;
    width: 860px;
    gap: 10px;
}

.post-media{
    display: flex;
    flex-direction: column;
}

.post-main-media{
    position: relative;
}

.post-main-media img, .post-main-media video{
    width: 860px;
    height: 500px;
    object-fit: contain;
    border-radius: 15px;
}

.post-main-media img{
    object-fit: cover;
    cursor: pointer;
}

.post-detail-body .curtain{
    background-color: #252525;
}

.curtain.report{
    background-color: #c3c3c3;
    opacity: 0.4;
}

.post-detail-body .close-image{
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

.full-view{
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -30%);
}

.full-view img{
    max-width: 700px;
    max-height: 700px;
    object-fit: contain;
}

.full-image-swiper{
    height: 170px;
    position: absolute;
    bottom: 0;
    left: 50px;
}

.full-image-swiper .thumbnail{
    width: 150px;
    height: 150px;
}

.full-image-swiper .thumbnail.js{
    border: 4px solid white;
}

.next, .prev{
    position: absolute;
    border: none;
    background-color: white;
    font-size: 25px;
    cursor: pointer;
}

.next{
    top: 50%;
    right: 20px;
    padding: 10px 15px 10px 15px;
    transform: translateY(-50%);
}

.prev{
    top: 50%;
    left: 20px;
    padding: 10px 15px 10px 15px;
    transform: translateY(-50%);
}

.thumbnail{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
}

.thumbnail.js{
    border: 2px solid black
}

.post-detail-mixed{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-detail-price, .post-detail-area{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.post-detail-area{
    margin-left: -300px;
}

.main-content .title{
    font-size: 17px;
    color: #818181;
}

.main-content .emphasize{
    font-size: 24px;
    font-weight: bold;
}

.post-detail-function{
    display: flex;
    gap: 25px;
    cursor: pointer;
}

.post-detail-image-container{
    display: flex;
    width: auto;
    justify-content: flex-start;
    gap: 15px;
}

.share, .report, .save{
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.post-detail-mixed .post-location, .post-detail-mixed .post-time{
    display: flex;
    align-items: center;
    width: 640px;
    gap: 10px;
}

.post-location img, .post-time img{
    width: 30px;
    height: 30px;
}

.post-location p, .post-time p{
    font-size: 18px;
}

.post-detail h2{
    font-size: 28px;
    margin-top: 10px;
}

.post-creator-status-dot-online{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #00a600;
}

.post-creator-status-dot-offline{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #696969;
}

.post-detail-description{
    margin-bottom: 15px;
}

.description-content{
    font-size: 19px;
}

.properties{
    display: grid;
    grid-template-columns: 453px 453px;
}

.sub{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 410px;
}

.sub p{
    font-size: 20px;
}

.sub .title{
    display: flex;
    align-items: center;
    gap: 15px;
}

.sub .title img{
    width: 40px;
    height: 40px;
}

.title p{
    font-size: 23px;
    font-weight: bold;
}

.left .sub p, .right .sub p{
    font-size: 20px;
}

.post-user{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 555px;
    height: 425px;
    border-radius: 15px;
    gap: 15px;
}

.post-user .user-profile{
    display: flex;
    margin-left: -175px;
    margin-top: 20px;
    align-items: center;
    gap: 30px;

}

.post-user .user-profile .avatar{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid;
}

.name-status{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.name-status .name{
    font-size: 25px;
}

.name-status .status{
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: bold;
}

.status p{
    font-size: 17px;
    color: #A1A1A1;
}

.status img{
    width: 15px;
    height: 15px;
}

.user-background{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-left: -10px;
}

.user-background .sub{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100px;
    text-align: center;
}

.stand-line{
    height: 70px;
    width: 2px;
}

.user-background .sub p{
    font-size: 16px;
    color: #676767;
}

#sub-join, #sub-post, #sub-rep{
    font-size: 22px;
    font-weight: bold;
    color: black;
}

#sub-rep{
    margin-top: 17px;
}

.post-user-number-bounding, .post-user-chatting-bounding{
    display: flex;
    gap: 10px;
    height: 70px;
    width: 250px;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color ease 0.2s;
}

.post-user-number-bounding{
    background-color: #008CFF;
    color: white;
}

.post-user-chatting-bounding{
    background-color: white;
    color: black;
    border: 2px solid black;

}

.post-user-number-bounding img, .post-user-chatting-bounding img{
    width: 40px;
    height: 40px;
    height: 40px;
}

.post-user-number-bounding:hover{
    background-color: #0078db;
}

.post-user-chatting-bounding:hover{
    background-color: #e6e6e6;
}

