.curtain{
    background-color: rgba(217, 217, 217, 0.5);
    height: 100vh;
    width: 100vw;
    z-index: 100;
    position: fixed;
    top: 0;
}

.pop-up-register{
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 1020px;
    height: 515px;
    background-color: white;
    border-radius: 10px;
    transform: translate(-50%, -50%);
}

.back{
    position: absolute;
    font-size: 20px;
    top: 10px;
    right: 595px;
    cursor: pointer;
}

.js-back{
    display: none;
}

.close{
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 30px;
    cursor: pointer;
}

.illustration{
    width: 400px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.register-form{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: -30px;
}

.phone-bounding, .google-sign-bounding, .facebook-sign-bounding{
    display: flex;
    gap: 15px;
    align-items: center;
    border: 2px solid #808080;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.phone-bounding img, .google-sign-bounding img, .facebook-sign-bounding img{
    height: 30px;
    width: 30px;
}

#register-identifier-input{
    outline: none;
    border: none;
    font-size: 20px;
    font-weight: 560;
}

.google-sign-bounding, .facebook-sign-bounding{
    font-size: 20px;
    font-weight: 560;
    cursor: pointer;
}

.register-form h1, .register-form h2{
    margin: 0;
}

.register-form h1{
    margin-bottom: 40px;
    position: fixed;
    top: 40px;
}

.register-form-account{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.js-register-form-account{
    display: none;
}

.register-form-account h2{
    margin-bottom: 20px;
}

.register-form-name-password{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.register-form-name-password p{
    color: red;
    align-self: start;
}

.register-name{
    display: flex;
    flex-direction: column;
}

#register-password-input, #register-password-reInput, #register-name-input{
    outline: none;
    border: 2px solid #808080;
    font-size: 25px;
    font-weight: 560;
    padding: 10px;
    border-radius: 10px;
}

.password-confirm{
    background-color: #008CFF;
    color: white;
    border: none;
    font-size: 30px;
    font-weight: bold;
    width: 378px;
    height: 60px;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.invalidNumber{
    color: red;
    font-weight: bold;
    margin-left: -130px;
    margin-top: -15px;
    margin-bottom: 15px;
}
