:root{
    font-family: Roboto, sans-serif;
}

button{
    font-family: Roboto, sans-serif;
}

textarea{
    font-family: Roboto, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    overflow-y: scroll;
}

p{
    margin: 0;
}

span{
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

.curtain{
    background-color: rgba(217, 217, 217, 0.5);
    height: 100vh;
    width: 100vw;
    z-index: 100;
    position: fixed;
    top: 0;
}